@import url(reset.css);
.container {
  width: 100%;
  height: 105px;
  background: null;
  background: url(../img/headerbg.png) repeat-x;
}
.header {
  width: 990px;
  height: 66px;
  background: null;
  margin: 0 auto;
}
.header .text {
  width: 212px;
  height: 24px;
  background: #ffffff;
  padding-left: 5px;
  margin-left: 40px;
  font-size: 16px;
}
.header .icon {
  float: right;
  width: 130px;
  height: 14px;
  background: 0;
  margin-top: 14px;
  display: inline;
  margin-right: 50px;
}
.header .icon li {
  float: right;
  margin-left: 5px;
}
.header .icon li a {
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(../img/theme.gif);
  background-repeat: no-repeat;
}
.header .bg1 {
  background-position: -20px 0;
}
.header .bg2 {
  background-position: -40px 0;
}
.header .bg3 {
  background-position: -60px 0;
}
.header .bg4 {
  background-position: -80px 0;
}
.header .bg5 {
  background-position: -100px 0;
}
.header .bg6 {
  background-position: 0px 0;
}
.header .bg1:hover,
.header .active1 {
  background-position: -20px -15px;
}
.header .bg2:hover,
.header .active2 {
  background-position: -40px -15px;
}
.header .bg3:hover,
.header .active3 {
  background-position: -60px -15px;
}
.header .bg4:hover,
.header .active4 {
  background-position: -80px -15px;
}
.header .bg5:hover,
.header .active5 {
  background-position: -100px -15px;
}
.header .bg6:hover,
.header .active6 {
  background-position: 0px -15px;
}
.nav {
  width: 990px;
  height: 37px;
  background: #4a4a4a;
  margin: 0 auto;
}
.nav ul {
  padding-left: 15px;
}
.nav li {
  float: left;
  line-height: 37px;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
.nav li a {
  padding: 0 15px;
  color: #FFFFFF;
}
.nav li ol {
  position: absolute;
  display: none;
  left: 0;
  top: 37px;
  width: 300px;
  height: 100px;
  background: 0;
  background: linear-gradient(to top, #ffc0cb, #8b008b);
}
.nav li ol li {
  line-height: 30px;
  padding: 0 13px;
}
.nav li ol li a {
  display: inline-block;
  width: 50px;
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  color: #00BFFF;
}
.nav li ol li {
  width: 30px;
}
.main {
  margin: 10px auto;
  width: 990px;
  height: 560px;
  background: 0;
}
.main .main-left {
  width: 183px;
  height: 558px;
  background: 0;
  border: 1px solid #6e6e6e;
  float: left;
}
.main .main-left h1 {
  width: 100%;
  height: 30px;
  background: #6e6e6e;
  font-size: 16px;
  line-height: 30px;
}
.main .main-left h1 span {
  font-weight: bold;
  color: #FFFFFF;
  padding-left: 10px;
}
.main .main-left .left-top {
  width: 165px;
  height: 109px;
  background: 0;
  padding: 10px;
}
.main .main-left .left-top h2 {
  height: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  border-bottom: 1px solid #eeeeee;
}
.main .main-left .left-top ul {
  width: 82px;
  height: 90px;
  background: 0;
  float: left;
}
.main .main-left .left-top ul li {
  margin-top: 5px;
  font-size: 14px;
  position: relative;
}
.main .main-left .left-top ul li .hot {
  position: absolute;
  top: -8px;
}
.main .main-left .left-top ul li a {
  color: #444444;
}
.main .main-left .left-top ul li .red {
  color: #f9044e;
}
.main-right {
  width: 790px;
  height: 560px;
  background: 0;
  float: right;
}
.main-top {
  width: 790px;
  height: 321px;
  background: 0;
}
.top-left {
  width: 550px;
  height: 321px;
  background: 0;
  float: left;
  position: relative;
  overflow: hidden;
}
.top-left ul {
  width: 2750px;
  height: 321px;
  background: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.top-left ul li {
  float: left;
}
.top-left img {
  width: 100%;
  height: 100%;
}
.top-left ol {
  width: 550px;
  height: 42px;
  background: 0;
  position: absolute;
  left: 0;
  top: 279px;
}
.top-left ol li {
  float: left;
  display: inline-block;
  width: 109px;
  height: 42px;
  background: #5a2f2f;
  margin-right: 1px;
  opacity: 1;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: #dfb2b2;
  cursor: pointer;
}
.top-left ol .active:hover {
  background: url(../img/012_03.jpg) no-repeat;
  color: #FFFFFF;
}
.top-left ol .active {
  background: url(../img/012_03.jpg) no-repeat;
  color: #FFFFFF;
}
.top-right {
  width: 230px;
  height: 320px;
  background: 0;
  float: right;
}
.top-right .active-a {
  width: 230px;
  height: 170px;
  background: 0;
  overflow: hidden;
}
.top-right .active-a img {
  transition: 3s;
}
.top-right .active-a img:hover {
  transform: rotate(360deg);
}
.top-right .right-bottom {
  width: 228px;
  height: 133px;
  background: 0;
  margin-top: 15px;
  border: 1px solid #dfdfdf;
}
.top-right .right-bottom #tooltip {
  background: grey;
  border: 1px solid gray;
  position: absolute;
  font-weight: 0;
  opacity: 0.6;
  color: red;
}
.top-right .right-bottom h3 {
  height: 23px;
  font-size: 14px;
  line-height: 23px;
  border-bottom: 1px solid #dfdfdf;
}
.top-right .right-bottom h3 span {
  padding-left: 10px;
  font-weight: bold;
}
.top-right .right-bottom ul {
  width: 182px;
  height: 93px;
  background: 0;
  padding: 10px 0 5px 10px;
}
.top-right .right-bottom ul li {
  line-height: 19px;
  color: #666666;
}
.top-right .right-bottom ul li a {
  cursor: pointer;
  position: relative;
}
.mian-bottom {
  width: 790px;
  height: 220px;
  background: 0;
  margin-top: 18px;
  position: relative;
}
.mian-bottom h2 {
  width: 790px;
  height: 23px;
  background: 0;
  border-bottom: 1px solid #e4e4e4;
}
.mian-bottom h2 p {
  line-height: 21px;
  font-size: 12px;
  padding-left: 5px;
  font-weight: bold;
}
.mian-bottom h2 ul {
  margin-top: 3px;
  float: right;
}
.mian-bottom h2 ul li {
  width: 44px;
  height: 21px;
  background: #e4e4e4;
  float: left;
  line-height: 20px;
  text-align: center;
  color: #000000;
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
}
.mian-bottom h2 ul li b {
  width: 0;
  height: 0;
  border-top: 6px solid #fa5889;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  left: 20px;
  top: 20px;
  display: none;
}
.mian-bottom h2 ul li:hover {
  background: #fa5889;
}
.mian-bottom h2 ul li:hover b {
  display: block;
}
.mian-bottom h2 ul .active-tab {
  background: #fa5889;
}
.mian-bottom h2 ul .active-tab b {
  display: block;
}
.mian-bottom .bottom-low {
  width: 790px;
  height: 196px;
  background: 0;
  position: absolute;
  left: 8px;
  top: 23px;
  overflow: hidden;
}
.mian-bottom .bottom-low .block {
  display: block;
}
.mian-bottom .bottom-low dl {
  float: left;
  width: 183px;
  height: 188px;
  background: 0;
  padding: 8px 7px 0px 7px;
  cursor: pointer;
}
.mian-bottom .bottom-low dl dd span {
  display: inline-block;
  width: 183px;
  height: 24px;
  background: #efefef;
  font-size: 14px;
  color: #666666;
  line-height: 24px;
  text-align: center;
}
.footer {
  width: 100%;
  height: 64px;
  background: 0;
  clear: both;
  margin: 0 auto;
}
.footer p {
  line-height: 64px;
  text-align: center;
  color: #7d6695;
}
